<div class="footer-socials">

  {% for social in theme_settings.social_media %}

    {% if social.url %}
      <a href="{{ social.url }}" class="footer-socials__item" target="_blank" rel="noopener">
        {{ social.icon | svg }}
      </a>
    {% endif %}

  {% endfor %}

  <a href="#top" class="footer-socials__item footer-socials__item--gototop">

    {{ 'chevron-up-gray' | icon }}

  </a>


</div>
