.footer-socials {
  display: flex;

  &__item {
    @extend .ml3;
    display: inline-flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;


    &--gototop {

    }
  }
}
