.nav-sub {
  $self: &;
  @extend .pt4;
  @extend .pr4;
  @extend .pl4;
  @extend .pb2;
  background-color: $light-grey;
  position: absolute;
  opacity: 0;
  display: none;
  flex-direction: column;
  top: 100%;
  left: 0;
  z-index: 10;

  li:hover > & {
    display: flex;
  }

  &::before {
    @include pseudo;
    width: 12px;
    height: 12px;
    background-color: $light-grey;
    transform: rotate(45deg);
    top: -6px;
    left: 24px;
  }

  #{ $self } & {
    all: unset;
    padding-left: 8px!important;
    margin-top: 2px;
    margin-bottom: 16px!important;
    display: flex;
    flex-direction: column;

    #{ $self } & {
      margin-bottom: 0!important;
    }



    &::before {
      all: unset;
    }
  }


  &__item {
    $self: &;
    color: $nav-font-color;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 0 1rem;

    #{ $self } & {
      all: unset;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    a {
      display: block;
      width: 230px;
      padding:.6rem 0 2rem 0;
      &:hover {
        color:$yellow-color;
        margin-left: 0;
        padding-left: 1rem;

      }
    }
  }
}
