.header {
  position: fixed;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
  height:9.7rem;

  &--scroll-down {
    @include breakpoint-down("md") {
      transform: translateY(-85px);
    }
  }

  &--scroll-up {
    @include breakpoint-down("md") {
      transform: translateY(-85px);
    }
  }


  &--scroll {
    background-color: $violet;
  }

  &__container {
    @extend .o-container;
    @extend .py3;
  }

  &__row {
    @extend .o-grid;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @extend .px3;
    position: relative;
    a {
      display: block;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  &__nav {
    @extend .px3;
    display: flex;
    align-items: center;
  }
}

