{% include 'top/top.twig' %}
<header class="header">
  <div class="header__container">
    <div class="header__row">

      <div class="header__logo">
        {% include 'logo/logo.twig' %}
      </div>

      <nav class="header__nav">
        {% include 'nav-main/nav-main.twig' with {'class': 'nav-main--main', 'menu': nav_main} %}
       
      </nav>

    </div>
  </div>
</header>