{% for post in theme_settings.new_posts %}
  <article>
    <a class="footer-post" href="{{ post | permalink }}">

      {% set thumbnail_src = post | thumbnail('medium') %}

      {% if thumbnail_src %}
        <img class="footer-post__img" src="{{ post | thumbnail('medium') }}">
      {% endif %}

      <h3 class="footer-post__title">
        {{ post | get_title }}
      </h3>
    </a>
  </article>
{% endfor %}
