.footer-post {
  @extend .mb4;
  display: flex;

  &__img {
    width: 80px;
    height: 64px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__title {
    @extend .text-small;
    @include h-color($violet);
    color: $grey;
    margin: 0;
  }

}
