$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xl: 1440px,
        xxl: 1560px,
        fhd: 1920px,
);

$container-sizes: (
        xs: 100%,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1200px,
        fhd: 1200px,
);

//margin-padding
$spaces: (
        1: 0.4rem,
        2: 0.8rem,
        3: 1.6rem,
        4: 2.4rem,
        5: 3.2rem,
        6: 4.8rem,
        7: 6.4rem,
        8: 8rem,
        9: 12rem,
        10: 16rem,
);


// font
$primary-font-family: "Lato",
sans-serif;
$header-font-family: "Oswald", arial;

//colors
$nav-font-color: #222222;
$body-font-color:#8f8f8f;
$subtitle-head-font: #616161;
$yellow-color: #ffb600;
$light-grey: #f8f8f8;





$blue: #2F80ED;

$dark-black: #15102B;

$lima-ui: #40C004;
$lima-ui2: #87DE4D;

$violet-dark: #1D153E;
$violet: #23194A;
$violet-semilight: #8677BF;
$violet-light: #F2F1F8;
$violet-border: #D4CFE6;

$white: #fff;

$red: #FF4D24;

$yellow: #FBD344;

$grey: #797685;
$new-grey: #AAA7B7;
