.top {
    background:#f8f8f8;
    border-top: solid 0.1rem #eee;
    border-bottom: solid 0.1rem #eee;
    &__wrapper {
        padding:1rem 0;
        display: flex;
    }
    &__phone {
        font-size:1.2rem;
        display: flex;
        align-items: center;
        i {
            color: $yellow-color;
            padding-right:1rem;
        }
    }
    
    &__mail {
        font-size:1.2rem;
        display: flex;
        align-items: center;
        i {
            color: $yellow-color;
            padding: 0 1rem;
        }
    }
}