<div class="top">
    <div class="o-container">
        <div class="top__wrapper">
            <div class="top__phone">
                <i class="fa fa-phone"></i><a href="tel:48{{ options.phone }}">TEL: {{
                    options.phone }}</a>
            </div>
            <div class="top__mail">
            <i class="fa fa-envelope"></i>
            <a href="{{ options.mail }}">{{ options.mail }}</a></div>
        </div>
    </div>
</div>