.footer {
  @extend .pt9;
  @extend .pb8;
  @extend .text-small;
  color: $grey;

  p {
    @extend .text-small;
    color: $grey;
  }


  &__container {
    @extend .o-container;
  }

  &__row {
    @extend .o-grid;
  }

  &__info  {
    @extend .o-grid__item;
    @extend .md-4;
    @extend .mb3;
    min-height: 190px;
  }

  &__menu {
    @extend .o-grid__item;
    @extend .md-4;
    @extend .mb3;
    min-height: 190px;
  }

  &__posts {
    @extend .o-grid__item;
    @extend .md-4;
    @extend .mb3;
    min-height: 190px;
  }

  &__label {
    @extend .h6;
    @extend .mb4;
    display: flex;
    color: $violet;
  }

  &__copyright {
    @extend .o-grid__item;
    @extend .md-6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__socials {
    @extend .o-grid__item;
    @extend .md-6;
    display: flex;
    justify-content: flex-end;
  }
}
