<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">

      <div class="footer__info">
        <h2 class="footer__label">{{ theme_settings.label1 }}</h2>
        {{ theme_settings.footer_adress }}
      </div>

      <div class="footer__menu">
        <h2 class="footer__label">{{ theme_settings.label2 }}</h2>
        {% include 'nav-footer/nav-footer.twig' %}
      </div>

      <div class="footer__posts">
        <h2 class="footer__label">{{ theme_settings.label3 }}</h2>
        {% include 'footer-posts/footer-posts.twig' %}
      </div>

      {% if theme_settings.copyright %}

        <div class="footer__copyright">
          <div class="footer__container">
            {{theme_settings.copyright}}
          </div>
        </div>

      {% endif %}


      <div class="footer__socials">
        {% include 'footer-socials/footer-socials.twig' %}
      </div>

    </div>
  </div>

</footer>
