.nav-main {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $nav-font-color;
  align-items: stretch;
  height:9.7rem;

  &__item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 1.5rem;
    position: relative;

    &--has-children {
      position: relative;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;

    &[href]:hover {
      color:$yellow-color;
      &:before {
        content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: solid .4rem $yellow-color;
      }
     
    }
    .nav-main__item--has-children & {

    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &--contact {
    .nav-main__item {margin-right: 20px;}

    .nav-sub {display: none!important;}

  }

  &--lng {
    .nav-main__item {margin-right: 0;}
  }
  i {
    font-size: 1.6rem;
  }
}

.current{
  color: $yellow-color;
&:before {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: solid 4px#ffb600;
}
}

.nav__social {
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    color: $yellow-color;
    &:before {
      content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: solid 4px#ffb600;
    }
  }
}