html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font-family;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.7rem;
  color: $violet-dark;
  background-color: $white;
}

h1, .h1 {
  font-family: $primary-font-family;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 5.8rem;
  letter-spacing: -0.6px;
  color: $violet;
  margin-bottom: 2.4rem;
}

h2, .h2 {
  font-family: $primary-font-family;
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 5.8rem;
  letter-spacing: -0.6px;
  color: $violet;
  margin-bottom: 2.4rem;
}

h3, .h3 {
  font-family: $primary-font-family;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
  letter-spacing: 0.2px;
  color: $violet;
  margin-bottom: 2.4rem;
}

h4, .h4 {
  font-family: $primary-font-family;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.2rem;
  letter-spacing: normal;
  color: $violet;
  margin-bottom: 1.6rem;
}

h5, .h5 {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: -0.5px;
  color: $lima-ui;
  margin-bottom: 1.6rem;
}

h6, .h6 {
  font-family: $primary-font-family;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: normal;
  color: $violet;
  margin-bottom: 1.6rem;
}

p, .p {
  font-family: $primary-font-family;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.6rem;
  color: $violet-dark;
}

b, strong {
  font-weight: 500;
}


.text-big {
  font-family: $primary-font-family;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: $violet-dark;
}

.text-small {
  font-family: $primary-font-family;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: normal;
  color: $violet;
}

.caption {
  font-family: $primary-font-family;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.166667;
  color: $violet-dark;
}

.link {
  font-family: $primary-font-family;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  text-decoration-line: underline;
  color: $lima-ui;
}
