<!doctype html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}"/>
    <title>
      {% if wp_title %}{{ wp_title }}
      {% else %}{{ site.name }}
      {% endif %}
    </title>
    <meta name="description" content="{{fn('bloginfo', 'description')}}"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5.0, minimum-scale=1">
    <meta httpequiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="theme-color" content="">

    {{ fn( 'wp_head' ) }}
  </head>

  <body class="{{ body_class }} #top">

    {% include 'header/header.twig' %}

    <main>
      {% block main %}
				{% if fields.sections %}
				    {% for section in fields.sections %}
				        {% include [section.acf_fc_layout ~ '/' ~ section.acf_fc_layout ~ '.twig', 'section.twig'] %}
				    {% endfor %}
				{% endif %}
			{% endblock %}
    </main>

    {% include 'footer/footer.twig' %}

    {{ fn('wp_footer') }}

    
  </body>
</html>
