html {
  scroll-behavior: smooth;
  font-size:62.5%;
}

body {
  z-index: 1;
  position: relative;
}

* {
  box-sizing: border-box;
}

a[href] {
  cursor: pointer;
}

.container {
  max-width:120rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
